<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<style type="text/css">
  *{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
  }

  body{
      height: 100vh;
      background-image: url(https://dosenit.com/wp-content/uploads/2020/10/Gunung-Fuji-Jepang-1024x640-1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }

  p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
  }

  h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  a {
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

  .container{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      padding: 20px 25px;
      width: 500px;

      background-color: rgba(0,0,0,.7);
      box-shadow: 0 0 10px rgba(255,255,255,.3);
  }

  .container h1{
      color: #fafafa;
      margin-bottom: 30px;
      text-transform: uppercase;
      border-bottom: 4px solid #752BEA;
  }

  .container .label{
      text-align: left;
      color: #90caf9;
  }

  .container .input{
      width: calc(100% - 20px);
      padding: 8px 10px;
      margin-bottom: 15px;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid #752BEA;
      color: #fff;
      font-size: 20px;
  }

  .container .button{
      width: 100%;
      height: 40px;
      padding: 5px 0;
      border: none;
      background-color:#752BEA;
      font-size: 18px;
      color: #fafafa;
      border-radius: 20px;
  }
</style>
<body>
  <% flash.each do |key, value| %>
    <center>
      <div class="alert alert-success alert-dismissible" style="width: 30%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= value %></br>
      </div>
    </center>
  <% end %>

  <div class="container">
    <h1>Log in</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
        <%= f.label :email, class: 'label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
        

        <%= f.label :password, class: 'label' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>

        <%= f.submit "Log in", class: 'button' %>
      <% end %>

      <p> Don't have an account yet ?
        <a><%= render "devise/shared/links" %> </a>
      </p>
  </div>
</body>
</html>
